<html>
<head>
    <meta charset="UTF-8"/>
    <title>Jetty WebSocket Chat</title>
    <script type="text/javascript">
        var ws;
        var name = "".concat(${name});

        function init() {
            ws = new WebSocket("ws://localhost:8080/chatInner");
            ws.onopen = function (event) {
                ws.send(name);
            }
            ws.onmessage = function (event) {
                var $textarea = document.getElementById("messages");
                $textarea.value = $textarea.value + event.data + "\n";
            }
            ws.onclose = function (event) {
                ws.close();
            }
        };

        function sendMessage() {
            var messageField = document.getElementById("message");
            if (messageField.toString() == "") {
                return;
            }
            var message = name + ":" + messageField.value;
            ws.send(message);
            messageField.value = '';
        }

        function isEnter(e){

            if (e.keyCode == 13) {
                sendMessage();
            }
        }

        addEventListener("keydown", isEnter);
    </script>
    <link href='style.css' rel='stylesheet' type='text/css'>
</head>
    
<header>
  <div class="container">
    <a href="" class="logo">LOGO</a>
    <nav>
      <ul>
          <li><a href="login.html">Log out</a></li>
      </ul>
    </nav>
  </div>
</header>
    
<body onload="init();">
<div id="body">
    <form class="reg-form chat" name="message" action=""onsubmit="return false;">
    <div id="menu">
        <p class="welcome">
            Welcome, ${name}
        </p>

        <div style="clear: both"></div>
    </div>

    <div id="chatbox">
        <textarea id="messages" rows="20" cols="50" readonly="readonly"></textarea>
    </div>


        <input name="usermsg" type="text" id="message" size="40"/>
        <input type="button" name="submitmsg" value="Send..." onclick="sendMessage();"/>
    </form>
</div>
</body>
</html>