<!DOCTYPE html>
<html>

<head>
    <title>Login</title>
    <link href='style.css' rel='stylesheet' type='text/css'>
</head>

<body>


<form method='post' class='reg-form' action="/signin">

    <div class='form-row'>
        <label for='form_fname'>Login</label>
        <input type='text' id='form_fname' name='login'>
    </div>

    <div class='form-row'>
        <label for='form_sname'>Password</label>
        <input type='password' id='form_sname' name='password'>
    </div>

    <div class="form-row">
        <input type="submit" value='Register me'>
    </div>

</form>

    <div class="message">
        <p>${message}</p>
    </div>
    
</body>